{
  "extends": "airbnb",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "plugins": ["react"],
  "rules": {
    "no-console": "off",
    "react/jsx-filename-extension": "off",
    "no-plusplus": "off"
  }
}
